<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>
<p>Họ tên: Nguyễn Văn A</p>
<p>Email: nguyenvana@gmail.com</p>
<p>Số điện thoại: 0909123456</p>
<p>Địa chỉ: Vĩnh Phúc</p>

<%- include('layouts/footer') %>